<div>
    <h2>Número de Socio: {{ socio.numSocio}}</h2>
    <p>Fecha de Alta: {{ socio.fechaAlta }}</p>
    <p>Fecha de Caducidad: {{ socio.fechaCaducidad }}</p>
    <p>Datos personales:</p>
    <ul>
        <li><strong>DNI:</strong> {{ socio.cliente.dni }}</li>
        <li><strong>Nombre:</strong> {{ socio.cliente.nombre }}</li>
        <li><strong>Apellidos:</strong> {{ socio.cliente.apellidos }}</li>
        <li><strong>Email:</strong> {{ socio.cliente.email }}</li>
    </ul>
</div>

{% load bootstrap_icons %}

<div class="mb-2">
    {% if perms.GestionCine.change_socio %}
    <button type="button" class="btn btn-outline-primary">
        <a href="{% url 'socio_editar' socio.id %}"><span>{% bs_icon 'pencil' %}</span></a>
    </button>
    {% endif %}
</div>

<div class="mb-2">
    {% if perms.GestionCine.delete_socio %}
    <form action="{% url 'socio_eliminar' socio.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" onclick="return eliminar();" type="submit">
            <span>{% bs_icon 'trash' %}</span>
        </button>
    </form>
    {% endif %}
</div>
<hr>