<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Salas</title>
</head>
<body>
    <h1>Lista de Salas del Cine</h1>

    {% for sala in salas %}
        <div>
            <h2>Tamaño de la Sala: {{sala.tamano}}
            </h2>
            <p><strong>Dirección del Cine:</strong> {{ sala.cine.direccion }}</p>
            <p><strong>Teléfono del Cine:</strong> {{ sala.cine.telefono }}</p>
            <p><strong>Email del Cine:</strong> {{ sala.cine.email }}</p>


            <h3>Empleados en esta sala:</h3>
            <ul>
                {% for empleado in sala.empleado.all %}
                    <li>
                        <strong>Nombre:</strong> {{ empleado.nombre }} {{ empleado.apellidos }}<br>
                        <strong>DNI:</strong> {{ empleado.dni }}<br>
                        <strong>NUSS:</strong> {{ empleado.nuss }}<br>
                        <strong>IBAN:</strong> {{ empleado.iban }}<br>
                        <strong>Salario:</strong> {{ empleado.salario }}<br>
                        <strong>Encargado:</strong> {{ empleado.encargado|yesno:"Sí,No" }}
                    </li>
                {% empty %}
                    <li>No hay empleados asignados a esta sala.</li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    {% endfor %}
</body>
</html>
