{% extends "principal.html" %}

{% block contenido %}

{% load django_bootstrap5 %}

<form action="{% url 'cliente_editar' cliente.id %}" method="post"> 
    {% csrf_token %} 

    <div class="mb-4">
        {% bootstrap_field formulario.dni show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.nombre show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.apellidos show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.email show_label=True %}
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form> 

{% endblock %}
