{% extends "principal.html" %}
    {% block header %}
        <h1>Listado de enlaces</h1>
    {% endblock %}

    {% block contenido %}
    
    <div>
        <h3>1-URL que muestra una lista de todos 
            los socios con sus datos correspondientes.
        </h3>
        <a href="{% url 'lista_socios' %}">Lista de socios</a>
    </div>

    <div>
        <h3>2-URL que muestra una lista de todas las salas
            de un cine en concreto.
        </h3>
        <a href="{% url 'lista_salas_cine' 1 %}">Lista de salas</a>
    </div>

    <div>
        <h3>3-URL que muestra una lista de todas las proyecciones
            de una sala en concreto ordenadas de manera ascendente.
        </h3>
        <a href="{% url 'lista_proyecciones' 1 %}">Lista de proyecciones</a>
    </div>

    <div>
        <h3>4-URL que muestra una lista de todos los clientes que no son socios
        </h3>
        <a href="{% url 'lista_clientes' %}">Lista de clientes</a>
    </div>
    <div>
        <h3>5-URL que muestra la última proyección de un cine en concreto (en este caso el 3)
        </h3>
        <a href="{% url 'lista_proyecciones_cine' 3 %}">Proyección</a>
    </div>
    <div>
        <h3>6-URL que muestra la media salarial de todos los empleados
        </h3>
        <a href="{% url 'media_salarios' %}">Media</a>
    </div>
    <div>
        <h3>7-URL que muestra las salas en las que se proyectarán películas cuya sinopsis empiece por "A"
        </h3>
        <a href="{% url 'lista_salas_sinopsis' 'A' %}">Lista salas</a>
    </div>

    <div>
        <h3>8-URL que muestra las películas de más de 3 horas que se proyecten en una sala en concreto (en este caso la 5)
        </h3>
        <a href="{% url 'lista_peliculas' 5 %}">Lista películas</a>
    </div>

    <div>
        <h3>9-URL que muestra las salas de un cine en concreto de forma reversa
        </h3>
        <a href="{% url 'mostrar_salasReversa' 2 %}">Lista salas</a>
    </div>

    <div>
        <h3>10-URL que muestra los encargados de un cine en concreto
        </h3>
        <a href="{% url 'lista_encargados' 6 %}">Lista encargados</a>
    </div>
    {% endblock %}