<html>
    {% load static %}
    {% load django_bootstrap5 %}

    <head>
        <title>Gestion de Cine</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        {% load django_bootstrap5 %}

    </head>
    <body>
        {% include 'estructura/menu.html' %}
        <div id="contenedor_imagen">
            <img src="{% static 'imagenes/imagen.webp' %}" alt="Imagen">
        </div>
        <h1>GESTIÓN DE CINE</h1>


        {% block header %}
        {% endblock %}

        {% block contenido %}
        {% endblock %}

        {% include 'estructura/pie.html' %}

        <link rel="stylesheet" href="{% static 'javascript/script.js' %}">
    </body>
</html>